<div class="activity-list">
    <div class="page-title-1">
        <div class="left">
            <div class="title">
                Activities
            </div>
            <div class="actions-1">
                <div class="action-1 action-1-constructive">
                    <a [routerLink]="'create'">
                        <button class="button-1 button-green">Add</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="right">

        </div>
    </div>
    <div class="page-1-margin">
        <div class="panel-1">
            <div class="panel-header">
                <div class="panel-title">
                    Activities
                </div>
            </div>
            <div class="panel-body">
                <div class="table-1">
                    <div class="table-tools">
                        <div class="left">

                        </div>
                        <div class="right">
                            <div class="table-search">
                                <input type="text" placeholder="Filter...">
                            </div>
                        </div>
                    </div>
                    <div class="table-header">
                        <div class="header-cell">Name</div>
                        <div class="header-cell"># of students</div>
                        <div class="header-cell header-cell-width-500">Actions</div>
                    </div>
                    <div class="table-body">
                        <div class="data-row" *ngFor="let activity of activities">
                            <div class="data-cell">
                                <a [routerLink]="'activity/' + activity.id + '/overview'">
                                    {{ activity.name }}
                                </a>
                            </div>
                            <div class="data-cell"># of students</div>
                            <div class="data-cell data-cell-actions data-cell-width-500">
                                <div class="actions-1">
                                    <div class="action-1 action-1-destructive" (click)="deleteActivity(activity)">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>