<div class="create">
    <div class="panel-1">
        <div class="panel-header">
            <div class="panel-title">
                New activity
            </div>
        </div>
        <div class="panel-body">
            <div class="form-1">
                <div class="form-row">
                    <div class="label">Name</div>
                    <div class="input"
                         [ngClass]="activityForm.name.stateClass">
                        <input type="text" placeholder="Name"
                               [value]="activityForm.name.value"
                               (input)="updateValueOnInput('name', $event.target.value)"
                               (blur)="validateOnBlur('name')">
                        <div class="error-message" *ngIf="activityForm.name.errorMessage != ''">
                            <i class="fa fa-exclamation-triangle"></i>{{ activityForm.name.errorMessage }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="label">Rate</div>
                    <div class="input"
                         [ngClass]="activityForm.rate.stateClass">
                        <input type="text" placeholder="Rate"
                               [value]="activityForm.rate.value"
                               (input)="updateValueOnInput('rate', $event.target.value)"
                               (blur)="validateOnBlur('rate')">
                        <div class="error-message" *ngIf="activityForm.rate.errorMessage != ''">
                            <i class="fa fa-exclamation-triangle"></i>{{ activityForm.rate.errorMessage }}
                        </div>
                    </div>
                </div>
                <div class="form-row-buttons">
                    <div class="left"></div>
                    <div class="right">
                        <button class="button-1 button-green" [disabled]="!activityForm.isValid" (click)="submitForm()">Add</button>
                        <button class="button-1 button-red">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>