<div class="revenue-graph">
    <div class="panel-1">
        <div class="panel-header">
            <div class="left">
                <div class="panel-title">
                    Monthly revenue
                </div>
            </div>
            <div class="right">
            </div>
        </div>
        <div class="panel-body">
            <graph [data]="graphData" [metadata]="graphMetadata" [config]="graphConfig"></graph>
        </div>
    </div>
</div>
