<div class="student-list">
    <div class="page-title-1">
        <div class="left">
            <div class="title">
                Students
            </div>
            <div class="actions-1">
                <div class="action-1 action-1-constructive">
                    <a [routerLink]="'create'">
                        <button class="button-1 button-green">Add</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="right">

        </div>
    </div>
    <div class="page-1-margin">
        <div class="panel-1">
            <div class="panel-header">
                <div class="panel-title">
                    Students
                </div>
            </div>
            <div class="panel-body">
                <div class="table-1">
                    <div class="table-tools">
                        <div class="left">

                        </div>
                        <div class="right">
                            <div class="table-search">
                                <input type="text" placeholder="Filter...">
                            </div>
                        </div>
                    </div>
                    <div class="table-header">
                        <div class="header-cell">Name</div>
                        <div class="header-cell">Email</div>
                        <div class="header-cell">Activities</div>
                        <div class="header-cell">Active</div>
                    </div>
                    <div class="table-body">
                        <div class="data-row" *ngFor="let student of students">
                            <a class="data-cell" [routerLink]="'student/' + student.id + '/profile'">
                                {{ student.firstName }} {{ student.lastName}}
                            </a>
                            <div class="data-cell">email</div>
                            <div class="data-cell">activities</div>
                            <div class="data-cell">active</div>
                        </div>
                    </div>
                    <div class="footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>