<div class="student-activity-list page-1-margin">
    <div class="panel-1 student-activity" *ngFor="let studentActivity of studentActivities">
        <div class="panel-header">
            <div class="left">
                <div class="panel-title" *ngIf="studentActivity.activity">
                    {{ studentActivity.activity.name }}
                </div>
            </div>
            <div class="right">
                <div class="actions-1">
                    <div class="action-1">
                        <div class="button-1 button-red" (click)="removeStudentActivity(studentActivity)">Remove</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" *ngIf="studentActivity.subscription">
            {{ studentActivity.subscription.rate }} {{ studentActivity.subscription.period }} {{ studentActivity.startDate }}
        </div>
    </div>
</div>