<div class="create-subscription-form">
    <div class="panel-1">
        <div class="panel-header">
            <div class="left">
                <div class="panel-title">
                    New subscription
                </div>
            </div>
            <div class="right">

            </div>
        </div>
        <div class="panel-body">
            <div class="form-1">

                <div class="form-row">
                    <div class="label">Rate</div>
                    <div class="input"
                         [ngClass]="form.rate.stateClass">
                        <input type="text" placeholder="Rate"
                               [value]="form.rate.value"
                               (input)="updateValueOnInput('rate', $event.target.value)"
                               (blur)="validateOnBlur('rate')">
                        <div class="error-message" *ngIf="form.rate.errorMessage != ''">
                            <i class="fa fa-exclamation-triangle"></i>{{ form.rate.errorMessage }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="label">Period</div>
                    <div class="input"
                         [ngClass]="form.period.stateClass">
                        <select type="text"
                                [value]="form.period.value"
                                (change)="updateValueOnInput('period', $event.target.value)">
                            <option value="monthly">monthly</option>
                            <option value="annually">annually</option>
                        </select>
                    </div>
                </div>

                <div class="form-row-buttons">
                    <div class="left"></div>
                    <div class="right">
                        <button class="button-1 button-green" [disabled]="!form.isValid" (click)="submitForm()">Add</button>
                        <button class="button-1 button-red">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>