<div class="create-student-form">
    <div class="form-1">

        <div class="form-row">
            <div class="label">First name</div>
            <div class="input"
                 [ngClass]="form.firstName.stateClass">
                <input type="text" placeholder="First name"
                       [value]="form.firstName.value"
                       (input)="updateValueOnInput('firstName', $event.target.value)"
                       (blur)="validateOnBlur('firstName')">
                <div class="error-message" *ngIf="form.firstName.errorMessage != ''">
                    <i class="fa fa-exclamation-triangle"></i>{{ form.firstName.errorMessage }}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="label">Last name</div>
            <div class="input"
                 [ngClass]="form.lastName.stateClass">
                <input type="text" placeholder="Last name"
                       [value]="form.lastName.value"
                       (input)="updateValueOnInput('lastName', $event.target.value)"
                       (blur)="validateOnBlur('lastName')">
                <div class="error-message" *ngIf="form.lastName.errorMessage != ''">
                    <i class="fa fa-exclamation-triangle"></i>{{ form.lastName.errorMessage }}
                </div>
            </div>
        </div>

        <div class="form-row-buttons">
            <div class="left"></div>
            <div class="right">
                <button class="button-1 button-green" [disabled]="!form.isValid" (click)="submitForm()">Add</button>
                <button class="button-1 button-red">Cancel</button>
            </div>
        </div>

    </div>
</div>