<div class="accept-payment-form">
    <div class="panel-1">
        <div class="panel-header">
            <div class="panel-title">
                Accept payment
            </div>
        </div>
        <div class="panel-body">
            <div class="form-1">

                <div class="form-row">
                    <div class="form-col">
                        <div class="label">Subject</div>
                        <div class="input"
                             [ngClass]="form.subject.stateClass">
                            <select type="text"
                                    [value]="form.subject.value"
                                    (change)="updateValueOnInput('subject', $event.target.value)">
                                <option value="activity">activity</option>
                                <option value="store">store item</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-col" *ngIf="form.subject.value == 'activity'">
                        <div class="label">Activity</div>
                        <div class="input"
                             [ngClass]="form.subjectIdentifier.stateClass">
                            <select [value]="form.subjectIdentifier.value"
                                    (change)="updateValueOnInput('subjectIdentifier', $event.target.value)">
                                <option *ngFor="let studentActivity of studentActivities"
                                        [value]="studentActivity.id">
                                    {{ studentActivity.activity ? studentActivity.activity.name : '' }}
                                    {{ studentActivity.subscription ? studentActivity.subscription.rate : '' }}$
                                    {{ studentActivity.subscription ? studentActivity.subscription.period : '' }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-col" *ngIf="form.subject.value == 'store'">
                        <div class="label">Store item</div>
                        <div class="input"
                            [ngClass]="form.subjectIdentifier.stateClass">
                            <select [value]="form.subjectIdentifier.value"
                                    (change)="updateValueOnInput('subjectIdentifier', $event.target.value)">
                                <option *ngFor="let item of items" [value]="item.id">{{ item.name }}
                                ({{ item.price }}$)</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="label">Amount</div>
                    <div class="input"
                         [ngClass]="form.amount.stateClass">
                        <input type="text" placeholder="Amount"
                               [value]="form.amount.value"
                               (input)="updateValueOnInput('amount', $event.target.value)"
                               (blur)="validateOnBlur('amount')">
                        <div class="error-message" *ngIf="form.amount.errorMessage != ''">
                            <i class="fa fa-exclamation-triangle"></i>{{ form.amount.errorMessage }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="label">Date</div>
                    <div class="input"
                         [ngClass]="form.date.stateClass">
                        <input type="text" placeholder="Date"
                               [value]="form.date.value"
                               (input)="updateValueOnInput('date', $event.target.value)"
                               (blur)="validateOnBlur('date')">
                        <div class="error-message" *ngIf="form.date.errorMessage != ''">
                            <i class="fa fa-exclamation-triangle"></i>{{ form.date.errorMessage }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="label">Method</div>
                    <div class="input"
                         [ngClass]="form.method.stateClass">
                        <select type="text"
                                [value]="form.method.value"
                                (change)="updateValueOnInput('method', $event.target.value)">
                            <option value="cash">cash</option>
                            <option value="cheque">cheque</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="label">Note</div>
                    <div class="input"
                         [ngClass]="form.note.stateClass">
                        <textarea type="text" placeholder="Note"
                                  [value]="form.note.value"
                                  (input)="updateValueOnInput('note', $event.target.value)"
                                  (blur)="validateOnBlur('note')"></textarea>
                    </div>
                </div>

                <div class="form-row-buttons">
                    <div class="left"></div>
                    <div class="right">
                        <button class="button-1 button-green" [disabled]="!form.isValid" (click)="submitForm()">Add</button>
                        <button class="button-1 button-red">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>