@import 'styles-variables';

$chart-line-color: #e0e0e0;
$chart-line-width: 0.5px;
$chart-tick-font-size: 12x;

.graph {
  min-height: 350px;
  position: relative;

  .go-chart {
    .svg-main {
      .g-axis-y, .g-axis-x {
        .axis-line {
          stroke: $chart-line-color;
          stroke-width: $chart-line-width;
        }

        .axis-text {
          fill: #808080;
          font-size: $chart-tick-font-size;
        }

        .grid-line {
          stroke: $chart-line-color;
          stroke-width: $chart-line-width;
        }
      }

      .g-axis-x {
        .label {
          fill: #808080;
          font-size: $chart-tick-font-size;
        }
      }

      .g-axis-y {
        .axis-name-y {
          font-size: $chart-tick-font-size;
          fill: #808080;
        }
      }

      .bar {
        cursor: pointer;
        stroke-width: 1px;
      }

      .bar:hover {
        opacity: 0.8;
      }

      .g-lines {
        .line {
          fill: none;
          stroke-width: 1px;
        }

        .point {
          stroke-width: 1;
          cursor: pointer;
        }

        .point:hover {
          stroke-width: 6;
        }
      }
    }
  }

  .utils {
    .section {
      .hover-section {
        position: absolute;
      }

      .hover-section:hover ~ .tooltip {
        display: block;
      }

      .tooltip {
        pointer-events: none;
        position: absolute;
        display: none;
        top: -80px;
        left: -50px;
        background-color: #444;
        width: 100px;
        min-height: 60px;
        border-radius: 6px;
        color: #fff;
        text-align: center;
        margin: 5px;
        opacity: 0.9;

        .tooltip-label {
          font-weight: 600;
        }
      }
    }

    .legend {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      right: 30px;

      .legend-item {
        display: flex;
        align-items: center;
        margin-left: 10px;

        .color-dot {
          width: 16px;
          height: 16px;
          border-radius: 100%;
          margin-right: 5px;
        }

        .legend-text {
          font-size: 14px;
        }
      }
    }
  }
}
