<div class="graph" id="graph-div">
    <div class="go-chart" *ngIf="!isLoading && dataset">
        <svg xmlns="http://www.w3.org/2000/svg"
             id="go-chart-svg"
             class="svg-main"
             [attr.width]="width"
             [attr.height]="height">
            <g class="g-axis-y">
                <text class="axis-name-y"
                      text-anchor="end"
                      [attr.x]="getYTitlePoint().x"
                      [attr.y]="getYTitlePoint().y">
                    {{ config.axis.y.title }}
                </text>
                <line vector-effect="non-scaling-stroke"
                      class="axis-line axis-line-y"
                      [attr.x1]="config.marginLeft"
                      [attr.x2]="config.marginLeft"
                      [attr.y1]="config.marginTop"
                      [attr.y2]="dataHeight() + config.marginTop" />
                <text class="axis-text axis-text-y"
                      *ngFor="let point of getYTickPoints(); let i = index"
                      text-anchor="end"
                      alignment-baseline="middle"
                      [attr.x]="point.x"
                      [attr.y]="point.y">
                    {{ this.config.axis.y.ticks[i] }}
                </text>
                <line vector-effects="non-scaling-stroke"
                      class="grid-line grid-line-x"
                      *ngFor="let line of getHorizontalGridLines(); let i = index"
                      [attr.x1]="line.x1"
                      [attr.x2]="line.x2"
                      [attr.y1]="line.y1"
                      [attr.y2]="line.y2" />
            </g>
            <g class="g-axis-x">
                <text class="label"
                      *ngFor="let point of getXTickPoints(); let i = index"
                      text-anchor="middle"
                      [attr.x]="point.x"
                      [attr.y]="point.y">
                    {{ config.axis.x.ticks[i] }}
                </text>
            </g>

            <g class="g-lines" *ngFor="let data of dataset; let i = index">
                <path class="line" [attr.d]="computeLine(i)" [attr.stroke]="metadata[i].color"></path>

                <circle class="point" *ngFor="let point of findPoints(i)" [attr.cx]="point.x" [attr.cy]="point.y" [attr.r]="3" [attr.fill]="metadata[i].color" [attr.stroke]="metadata[i].color"></circle>
            </g>
        </svg>

        <div class="utils">
            <div class="section" *ngFor="let point of findPoints(0); let i = index">
                <div class="hover-section" [style.margin-left.px]="point.x - sectionWidth() / 2" [style.height.px]="dataHeight()" [style.top.px]="config.marginTop" [style.width.px]="sectionWidth()"></div>
                <div class="tooltip" [style.margin-left.px]="point.x" [style.margin-top.px]="point.y">
                    <div class="tooltip-label">{{ config.axis.x.ticks[i] }}</div>
                    <div *ngFor="let data of dataset; let j = index">
                        <div [style.color]="metadata[j].color">{{ data.length - 1 >= i ? data[i]: '' }}</div>
                    </div>
                </div>
            </div>
            <div class="legend">
                <div class="legend-item" *ngFor="let mdata of metadata">
                    <div class="color-dot" [style.background-color]="mdata.color"></div>
                    <div class="legend-text">
                        {{ mdata.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
