<div class="show">
    <div class="page-title-1">
        <div class="left">
            <div class="title">
                <span *ngIf="activity">{{ activity.name }}</span>
            </div>
        </div>
    </div>
    <div class="top-menu-1">
        <a class="menu-item" routerLink="./overview" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-user"></i>Overview
        </a>
        <a class="menu-item" routerLink="./subscriptions" routerLinkActive="active">
            <i class="fa fa-cogs"></i>Subscriptions
        </a>
    </div>
    <router-outlet></router-outlet>
</div>