<div class="expense-list panel-1">
    <div class="panel-header">
        <div class="left">
            <div class="panel-title">
                Expense history
            </div>
        </div>
        <div class="right">

        </div>
    </div>
    <div class="panel-body">
        <div class="table-1">
            <div class="table-tools">
                <div class="left">

                </div>
                <div class="right">
                    <div class="table-search">
                        <input type="text" placeholder="Filter...">
                    </div>
                </div>
            </div>
            <div class="table-header">
                <div class="header-cell">Name</div>
                <div class="header-cell">Amount</div>
                <div class="header-cell">Payment date</div>
                <div class="header-cell">Category</div>
                <div class="header-cell">Note</div>
                <div class="header-cell">Actions</div>
            </div>
            <div class="table-body">
                <div class="data-row" *ngFor="let expense of expenses">
                    <div class="data-cell">{{ expense.name }}</div>
                    <div class="data-cell">{{ expense.amount }}$</div>
                    <div class="data-cell">{{ expense.date }}</div>
                    <div class="data-cell">{{ expense.category }}</div>
                    <div class="data-cell">{{ expense.note }}</div>
                    <div class="data-cell data-cell-actions">
                        <div class="actions-1">
                            <div class="action-1 action-1-destructive" (click)="deleteExpense(expense)">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>