@import "../styles-variables";

$action-1-width: 25px;
$action-1-height: 25px;
$action-1-border-radius: 4px;
$action-1-font-size: 18px;
$action-1-background-color-hover: $color2;
$action-1-color-hover: $text-white;

$button-default-background-color: $color-light-1;
$button-border-radius: 4px;
$button-border: 1px solid $color-orange-1;

.actions-1 {
  display: flex;

  .action-1 {
    margin: 5px;

    > i.fa {
      cursor: pointer;
      width: $action-1-width;
      height: $action-1-height;
      line-height: $action-1-height;
      text-align: center;
      font-size: $action-1-font-size;
      border-radius: $action-1-border-radius;
    }
  }

  .action-1.action-1-destructive { > i.fa{ color: $color-red-1; } }
  .action-1.action-1-constructive { > i.fa{ color: $color-green-1; } }

  .action-1 {
    > i.fa:hover {
      background-color: $action-1-background-color-hover;
      color: $action-1-color-hover;
    }
  }
}

.button-1 {
  background-color: $button-default-background-color;
  border: $button-border;
  border-radius: $button-border-radius;
  cursor: pointer;
}

.button-1.button-red {
  background-color: $color-red-1;
  color: $text-white;
}

.button-1.button-green {
  background-color: $color-green-1;
  color: $text-white;
}

.button-1.button-orange {
  background-color: $color-orange-1;
  color: $text-white;
}

.button-1.button-no-background {
  background-color: transparent;
  color: $text-black;
}

.button-1:disabled {
  cursor: not-allowed;
}
