@import "../styles-variables";

$form-row-height: 60px;
$form-row-padding: 0 15px;
$form-row-label-width: 200px;
$form-row-double-label-height: 26px;
$form-row-double-input-height: 40px;

$label-font-size: 18px;

$input-height: 30px;
$input-short-width: 160px;
$input-margin: 0 5px;
$input-border: 1px solid $color-light-1;
$input-focus-border-color: $color3;
$input-valid-border-color: $color-green-1;
$input-invalid-border-color: $color-red-1;

$input-error-message-font-size: 14px;
$input-error-message-icon-font-size: 12px;
$input-error-message-color: $color-red-1;
$input-error-message-top: 28px;

$form-section-name-height: 30px;
$form-section-name-font-size: 22px;
$form-section-name-border-radius: 4px;

$form-row-buttons-height: 80px;

.form-1 {
  .form-section-name {
    display: flex;
    height: $form-section-name-height;
    align-items: center;
    margin: $form-row-padding;
    background-color: $color-light-1;
    border-radius: $form-section-name-border-radius;
    padding: $form-row-padding;

    .left,
    .right {
      display: flex;
      flex: 1;
    }

    .left {
      .title {
        font-size: $form-section-name-font-size;
        color: $color-grey-1;
      }
    }

    .right {
      justify-content: flex-end;
    }
  }

  .form-section-name:hover {
    background-color: $color-light-1;
  }

  .form-row {
    display: flex;
    height: $form-row-height;
    align-items: center;
    padding: $form-row-padding;

    .label {
      width: $form-row-label-width;
      font-size: $label-font-size;
    }

    .label.label-right {
      text-align: right;
    }

    .label.label-no-width {
      width: auto;
    }

    .input {
      flex: 1;
      margin: $input-margin;
      position: relative;

      .error-message {
        position: absolute;
        top: $input-error-message-top;
        left: 0;
        font-size: $input-error-message-font-size;
        color: $input-error-message-color;

        > i.fa {
          font-size: $input-error-message-icon-font-size;
          margin-right: 3px;
        }
      }

      input[type="text"],
      textarea,
      select {
        padding: 0 3px;
        width: 100%;
        border: $input-border;
      }

      input[type="text"],
      select {
        height: $input-height;
      }

      input[type="text"]:focus,
      textarea:focus,
      select:focus {
        border-color: $input-focus-border-color;
      }

      input[type="checkbox"] {
        display: none;
      }

      .checkbox-label {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .checkbox-label:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        border: 1px solid #c2c6cb;
        border-radius: 3px;
        transition: border 0.2s linear 0s, color 0.2s linear 0s;
      }

      input[type="checkbox"]:checked ~ .checkbox-label:before {
        background-color: $color-blue-2;
      }

      input[type="checkbox"]:checked ~ .checkbox-label:after {
        content: "\f00c";
        display: block;
        position: absolute;
        font-family: "Font Awesome 5 Free";
        color: #fff;
        font-size: 8px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
      }
    }

    .input.input-short {
      input[type="text"],
      select {
        width: $input-short-width;
      }
    }

    .input.input-no-width {
      input[type="text"],
      select {
        width: auto;
      }
    }

    .input.valid {
      input[type="text"],
      textarea,
      select {
        border-color: $input-valid-border-color;
      }
    }

    .input.invalid {
      input[type="text"],
      textarea,
      select {
        border-color: $input-invalid-border-color;
      }
    }

    .form-col {
      flex: 1;
      display: flex;
      height: $form-row-height;
      align-items: center;
    }

    .form-col:not(:first-child) {
      margin-left: 30px;
    }
  }

  .form-row.form-row-double {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80px;

    .input {
      margin: 0;
    }

    .top,
    .bottom {
      height: $form-row-height;
      display: flex;
      align-items: center;
      width: 100%;
    }

    .top {
      height: $form-row-double-label-height;
    }

    .bottom {
      height: $form-row-double-input-height;
    }

    .label,
    .input {
      flex-basis: 100%;
    }
  }

  .form-row-buttons {
    display: flex;
    height: $form-row-buttons-height;
    align-items: center;
    padding: $form-row-padding;

    .left,
    .right {
      flex: 1;
      display: flex;
      align-items: center;

      > button {
        margin: 5px;
      }
    }

    .right {
      justify-content: flex-end;
    }
  }
}