<div class="activity-subscription-list">
    <div class="panel-1">
        <div class="panel-header">
            <div class="panel-title">
                Subscriptions
            </div>
        </div>
        <div class="panel-body">
            <div class="list-1">
                <div class="list-row" *ngFor="let subscription of subscriptions">
                    <div class="left">
                        <div class="text">
                            {{ subscription.rate }} {{ subscription.period }}
                        </div>
                    </div>
                    <div class="right">
                        <div class="actions-1">
                            <div class="action-1" (click)="delete(subscription)">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>