<div class="dashboard">
    <div class="page-title-1">
        <div class="left">
            <div class="title">
                Dashboard
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>