<mat-toolbar class="header">
  <span>Pyramid</span>
</mat-toolbar>
<mat-drawer-container class="side-menu">
  <mat-drawer mode="side" opened="true">
      <div class="menu-header"></div>
      <div class="menu-items">
          <div class="menu-item" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:true}">
              <a routerLink="/">
                  <i class="fa fa-home"></i>Dashboard
              </a>
          </div>
          <div class="menu-item" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:true}">
              <a routerLink="/activities">
                  <i class="fa fa-cogs"></i>Activities
              </a>
          </div>
          <div class="menu-item" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:true}">
              <a routerLink="/activities/create">
                  <i class="fa fa-cogs"></i>Create Activities
              </a>
          </div>
          <div class="menu-item" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:true}">
              <a routerLink="/students">
                  <i class="fa fa-user"></i>Students
              </a>
          </div>
          <div class="menu-item" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:true}">
              <a routerLink="/students/create">
                  <i class="fa fa-user"></i>Create Students
              </a>
          </div>
          <div class="menu-item" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:true}">
              <a routerLink="/expenses">
                  <i class="fa fa-money-bill"></i>Expenses
              </a>
          </div>
          <div class="menu-item" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:true}">
              <a routerLink="/inventory">
                  <i class="fa fa-archive"></i>Inventory
              </a>
          </div>
      </div>
  </mat-drawer>
  <mat-drawer-content>
      <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>