@import '../styles-variables';

:host {
  height: 100%;
  width: 100%;
}

.header {
  background-color: #2d2d2d;
  color: #dedede;
  height: 40px;
}

.side-menu {
  width: 100%;
  height: calc(100% - 40px);

  > mat-drawer {
    width: 260px;
    background-color: $text-black;
    color: #fff;

    .menu-header {
      height: 60px;
      border-bottom: 1px solid #545454;
    }

    .menu-items {
      .menu-item {
        height: 50px;
        border-bottom: 1px solid #545454;

        > a {
          display: flex;
          align-items: center;
          color: #dedede;
          cursor: pointer;
          width: 100%;
          height: 100%;
          padding: 0 10px;

          > i.fa {
            margin-right: 10px;
            color: #dedede;
          }
        }
      }

      .menu-item:hover,
      .menu-item.selected {
        background-color: #2d2d2d;
      }
    }
  }

  > mat-drawer-content {
    position: relative;
  }
}