<div class="create-item-form">
    <div class="panel-1">
        <div class="panel-header">
            <div class="panel-title">
                Add item
            </div>
        </div>
        <div class="panel-body">
            <div class="form-1">

                <div class="form-row">
                    <div class="label">Name</div>
                    <div class="input"
                         [ngClass]="form.name.stateClass">
                        <input type="text" placeholder="Name"
                               [value]="form.name.value"
                               (input)="updateValueOnInput('name', $event.target.value)"
                               (blur)="validateOnBlur('name')">
                        <div class="error-message" *ngIf="form.name.errorMessage != ''">
                            <i class="fa fa-exclamation-triangle"></i>{{ form.name.errorMessage }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col">
                        <div class="label">Price</div>
                        <div class="input input"
                             [ngClass]="form.price.stateClass">
                            <input type="text" placeholder="Price"
                                   [value]="form.price.value"
                                   (input)="updateValueOnInput('price', $event.target.value)"
                                   (blur)="validateOnBlur('price')">
                            <div class="error-message" *ngIf="form.price.errorMessage != ''">
                                <i class="fa fa-exclamation-triangle"></i>{{ form.price.errorMessage }}
                            </div>
                        </div>
                    </div>
                    <div class="form-col">
                        <div class="input"
                             [ngClass]="form.isForSale.stateClass">
                            <input type="checkbox"
                                   id="is-for-sale"
                                   [checked]="form.isForSale.value"
                                   (input)="updateValueOnInput('isForSale', $event.target.checked)">
                            <label for="is-for-sale" class="checkbox-label">Item is for sale</label>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="label">Quantity</div>
                    <div class="input"
                         [ngClass]="form.quantity.stateClass">
                        <input type="text" placeholder="Quantity"
                               [value]="form.quantity.value"
                               (input)="updateValueOnInput('quantity', $event.target.value)"
                               (blur)="validateOnBlur('quantity')">
                        <div class="error-message" *ngIf="form.quantity.errorMessage != ''">
                            <i class="fa fa-exclamation-triangle"></i>{{ form.quantity.errorMessage }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="label">Category</div>
                    <div class="input"
                         [ngClass]="form.category.stateClass">
                        <input type="text" placeholder="Category"
                               [value]="form.category.value"
                               (input)="updateValueOnInput('category', $event.target.value)"
                               (blur)="validateOnBlur('category')">
                    </div>
                </div>

                <div class="form-row-buttons">
                    <div class="left"></div>
                    <div class="right">
                        <button class="button-1 button-green" [disabled]="!form.isValid" (click)="submitForm()">Add</button>
                        <button class="button-1 button-red">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>