<div class="create-expense-form">
    <div class="panel-1">
        <div class="panel-header">
            <div class="panel-title">
                Add expense
            </div>
        </div>
        <div class="panel-body">
            <div class="form-1">

                <div class="form-row">
                    <div class="label">Name</div>
                    <div class="input"
                         [ngClass]="form.name.stateClass">
                        <input type="text" placeholder="Name"
                               [value]="form.name.value"
                               (input)="updateValueOnInput('name', $event.target.value)"
                               (blur)="validateOnBlur('name')">
                        <div class="error-message" *ngIf="form.name.errorMessage != ''">
                            <i class="fa fa-exclamation-triangle"></i>{{ form.name.errorMessage }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="label">Amount</div>
                    <div class="input"
                         [ngClass]="form.amount.stateClass">
                        <input type="text" placeholder="Amount"
                               [value]="form.amount.value"
                               (input)="updateValueOnInput('amount', $event.target.value)"
                               (blur)="validateOnBlur('amount')">
                        <div class="error-message" *ngIf="form.amount.errorMessage != ''">
                            <i class="fa fa-exclamation-triangle"></i>{{ form.amount.errorMessage }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="label">Payment date</div>
                    <div class="input"
                         [ngClass]="form.date.stateClass">
                        <input type="text" placeholder="Payment date"
                               [value]="form.date.value"
                               (input)="updateValueOnInput('date', $event.target.value)"
                               (blur)="validateOnBlur('date')">
                        <div class="error-message" *ngIf="form.date.errorMessage != ''">
                            <i class="fa fa-exclamation-triangle"></i>{{ form.date.errorMessage }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="label">Category</div>
                    <div class="input"
                         [ngClass]="form.category.stateClass">
                        <input type="text" placeholder="Category"
                               [value]="form.category.value"
                               (input)="updateValueOnInput('category', $event.target.value)"
                               (blur)="validateOnBlur('category')">
                    </div>
                </div>

                <div class="form-row">
                    <div class="label">Note</div>
                    <div class="input"
                         [ngClass]="form.note.stateClass">
                        <textarea type="text" placeholder="Note"
                                  [value]="form.note.value"
                                  (input)="updateValueOnInput('note', $event.target.value)"
                                  (blur)="validateOnBlur('note')"></textarea>
                    </div>
                </div>

                <div class="form-row-buttons">
                    <div class="left"></div>
                    <div class="right">
                        <button class="button-1 button-green" [disabled]="!form.isValid" (click)="submitForm()">Add</button>
                        <button class="button-1 button-red">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>