<div class="expenses">
    <div class="page-title-1">
        <div class="left">
            <div class="title">
                Expenses
            </div>
            <div class="actions-1">
                <div class="action-1">
                    <button class="button-1 button-green">Add</button>
                </div>
            </div>
        </div>
        <div class="right">

        </div>
    </div>
    <div class="page-1-margin">
        <create-expense-form></create-expense-form>
        <expense-list></expense-list>
    </div>
</div>