<div class="payment-history panel-1">
    <div class="panel-header">
        <div class="panel-title">
            Payment history
        </div>
    </div>
    <div class="panel-body">
        <div class="list-1">
            <div class="list-row" *ngFor="let payment of studentPayments">
                <div class="left">
                    <div class="text">
                        {{ payment.date }} {{ payment.amount }}$ for {{ payment.subject }} by {{ payment.method }}
                    </div>
                </div>
                <div class="right">
                    <div class="actions-1">
                        <div class="action-1" (click)="deletePayment(payment)">
                            <i class="fa fa-times"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>