<div class="item-list panel-1">
    <div class="panel-header">
        <div class="left">
            <div class="panel-title">
                Table
            </div>
        </div>
        <div class="right">

        </div>
    </div>
    <div class="panel-body">
        <div class="table-1">
            <div class="table-tools">
                <div class="left">

                </div>
                <div class="right">
                    <div class="table-search">
                        <input type="text" placeholder="Filter...">
                    </div>
                </div>
            </div>
            <div class="table-header">
                <div class="header-cell">Name</div>
                <div class="header-cell">Price</div>
                <div class="header-cell">Is for sale</div>
                <div class="header-cell">Quantity</div>
                <div class="header-cell">Category</div>
                <div class="header-cell">Actions</div>
            </div>
            <div class="table-body">
                <div class="data-row" *ngFor="let item of items">
                    <div class="data-cell">{{ item.name }}</div>
                    <div class="data-cell">{{ item.price }}$</div>
                    <div class="data-cell">{{ item.isForSale ? 'yes' : 'no' }}</div>
                    <div class="data-cell">{{ item.quantity }}</div>
                    <div class="data-cell">{{ item.category }}</div>
                    <div class="data-cell data-cell-actions">
                        <div class="actions-1">
                            <div class="action-1 action-1-destructive">
                                <i class="fa fa-times" (click)="deleteItem(item)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>