<div class="show">
    <div class="page-title-1">
        <div class="left">
            <div class="title">
                Student <span *ngIf="student">{{ student.firstName }} {{ student.lastName }}</span>
            </div>
        </div>
    </div>
    <div class="top-menu-1">
        <a class="menu-item" routerLink="./profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-user"></i>Profile
        </a>
        <a class="menu-item" routerLink="./activities" routerLinkActive="active">
            <i class="fa fa-cogs"></i>Activities
        </a>
        <a class="menu-item" routerLink="./payments" routerLinkActive="active">
            <i class="fa fa-dollar-sign"></i>Payments
        </a>
    </div>
    <router-outlet></router-outlet>
</div>