<div class="assign-student-activity page-1-margin">
    <div class="panel-1" *ngIf="showForm">
        <div class="panel-header">
            <div class="panel-title">
                Assign activity
            </div>
        </div>
        <div class="panel-body">
            <div class="form-1">
                <div class="form-row">
                    <div class="label">Activity</div>
                    <div class="input"
                         [ngClass]="form.activityId.stateClass">
                        <select type="text"
                                [value]="form.activityId.value"
                                (change)="updateValueOnInput('activityId', $event.target.value)">
                            <option *ngFor="let activity of activities"
                                    [value]="activity.id">
                                {{ activity.name }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="label">Subscription</div>
                    <div class="input"
                         [ngClass]="form.subscriptionId.stateClass">
                        <select type="text"
                                [value]="form.subscriptionId.value"
                                (change)="updateValueOnInput('subscriptionId', $event.target.value)">
                            <option *ngFor="let subscription of activitySubscriptions"
                                    [value]="subscription.id">
                                {{ subscription.rate }} {{ subscription.period }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="label">Starting date</div>
                    <div class="input"
                         [ngClass]="form.startDate.stateClass">
                        <input type="text" placeholder="Starting date"
                               [value]="form.startDate.value"
                               (input)="updateValueOnInput('startDate', $event.target.value)"
                               (blur)="validateOnBlur('startDate')">
                        <div class="error-message" *ngIf="form.startDate.errorMessage != ''">
                            <i class="fa fa-exclamation-triangle"></i>{{ form.startDate.errorMessage }}
                        </div>
                    </div>
                </div>

                <div class="form-row-buttons">
                    <div class="left"></div>
                    <div class="right">
                        <button class="button-1 button-green" [disabled]="!form.isValid" (click)="submitForm()">Add</button>
                        <button class="button-1 button-red">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>